<br><br>Admin Homepage

<h1>Hi, <%=@admin.adminname%></h1>

<h2>Reports:</h2>

<%if @most_popular_host != 0%>
<br><br>Most popular host is:<br>
<%=@most_popular_host%>
<%end%>

<%if @inactive_hosts != []%>
    <br><br>Inactive hosts are:
    <%@inactive_hosts.each do |host|%>
        <li>
        <%=host.hostname%>
        </li>
    <%end%>
<%end%>

<%if @inactive_users != []%>
    <br><br>Inactive users are:
    <%@inactive_users.each do |user|%>
        <li>
        <%=user.username%>
        </li>
    <%end%>
<%end%>

<%if @most_popular_category != nil%>
    <br><br>Most popular category:<br>
    <%=@most_popular_category%>
<%end%>

<%if @most_expensive_event!= nil%>
    <br><br>Most expensive event:<br>
    <%=@most_expensive_event.title%><br>
    <%=@most_expensive_event.price%>
<%end%>
  