<div class='container row d-flex justify-content-center'>
    <div class='col-2'></div>

    <div class='jumbotron col'>
        <%=form_tag admins_path do %>
            <div class ="form-group">
                <%=label :admin, :adminname%>
                <%=text_field :admin, :adminname, :class=>"form-control"%>
            </div>
            <div class ="form-group">
                <%=label :admin, :password%>
                <%=password_field :admin, :password, :class=>"form-control"%>
            </div>
            <div class ="form-group">
                <%=label :admin, :password_confirmation%>
                <%=password_field :admin, :password_confirmation, :class=>"form-control"%>
            </div>
        <%=submit_tag 'Create New Admin', :class=>"btn btn-primary"%>
        <%end%>
     </div>
    
    <div class='col-2'></div>
</div>