<div class='container'>
    <h1><%=@booking.event.title%></h1>
    <div class='event-info'>
        <p>Description: </p><%=@booking.event.description%>
        <p>Date: </p><%=@date%>
        <p>Time: </p><%=@time%>
        <p>Price: </p><%=@booking.event.price%> <span>£</span>
        <p>Ticket booked: </p><%=@booking.ticket%> 
    </div>
    <button class='btn'><%=link_to 'Back', user_path(@booking.user_id)%><button>
    <button class='btn'><%= link_to 'Delete this booking', @booking, method: :delete, data: { confirm: 'Are you sure?' } %><button>
</div>
