  <div class="container row row-cols-2">
    <%@events.each do |event|%>
    <div class="col">
    <h3 class="event-title"><%=link_to event.title, event_path(event.id)%></h3>
    <div class="event-info">
      <p>Description:</p> <%=event.description%>
      <p>Date:</p><%=event.date%>
      <p>Time:</p><%=event.time%>
      <p>Unsold Places:</p><%=event.places%>
      <p>Price:</p><%=event.price%>
      </div>
      </div>
    <%end%>
  </div>
