<div class='container row'>
    <div class='col-2'></div>
         <div class='jumbotron col'>
            <%=form_for @event do |f|%>
                    <%=f.label :title%>
                    <%=f.text_field :title%><br><br>
               
                    <%=f.label :description%>
                    <%=f.text_area :description%><br><br>
               
                    <%=f.label :category%>
                    <%=f.collection_select :category_id, Category.all, :id, :name%><br><br>
               
                    <%=f.label :date%>
                    <%=f.date_select :date, :start_year=>Time.now.year%><br><br>
                
                    <%=f.label :time%>
                    <%=f.time_select :time %><br><br>
                       
                    <%=f.label :price%>
                    <%=f.number_field :price, min:0%><br><br>
                              
                    <%=f.label :places%>
                    <%=f.number_field :places, min:1%><br><br>
                           
                    <%=f.submit 'Create Event' %>
            <%end%>
        </div>
       
        <div class='col-2'></div>

<div>