<!DOCTYPE html>
<html>
  <head>
    <title>Mod2app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap" rel="stylesheet">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar fixed-top justify-content-start">
      
        <h1 id='title-nav' > FOODy  /</h1>
   
        <h3><%=link_to 'Home', '/'%></h3>
        <h3><%=link_to 'Events', events_path%></h3>
  
      
        <%if !current_user && !current_host && !current_admin%>
          <h3 ><i class="fas fa-user icon fa-xs"></i><%=link_to 'Log In User', userlogin_path %></h3>
          <h3><i class="fas fa-user icon fa-xs"></i><%=link_to 'Log In Host', hostlogin_path %></h3>
          <h3><i class="fas fa-user icon fa-xs"></i><%=link_to 'Log In Admin', adminlogin_path %></h3>
        <%end%>
  
      
        <%if current_user%>
          <h3 ><%=link_to 'User Homepage', user_path(current_user.id) %></h3>
          <h3><%=link_to 'Log Out User', userlogout_path %></h3>
        <%elsif current_host%>
          <h3><%=link_to 'New Event', new_event_path %></h3>
          <h3><%=link_to 'Host Homepage', host_path(current_host.id) %></h3>
          <h3><%=link_to 'Log Out Host', hostlogout_path %></h3>
        <%elsif current_admin%>
          <h3><%=link_to 'Admin Homepage', adminhomepage_path %></h3>
          <h3><%=link_to 'Log Out Admin', adminlogout_path %></h3>
        <%end%>
  </nav>

  <div class='flash'> 
    <% if flash[:notice] %>
      <div class='container-flash'>
        <h3><%= flash[:notice]%></h3>
      </div>
      <%flash.clear%>
    <%elsif flash[:errors]%>
      <div class='container-flash'>
        <%flash[:errors].each do|error|%>
        <li><%=error%></li> 
        <%end%>
      </div>
      <%flash.clear%>
      <% end %>

  </div> 

    <%= yield %>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>

  </body>
</html>
